
nav ul li .logo img {
    border-radius: 100px;
    height: 35px;
    width: 35px;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: center;
    font-weight: bolder;
    font-size: large;
    align-content: space-around;
    background-color: rgb(117, 18, 231);

    
}

*{
    margin: 0;padding: 0;
}

nav ul li {
    padding: 15px 5px;

}

nav ul li a {
    text-decoration: none;
    color: white;
}
html{
    font-family: cursive;
}
body{
    background:linear-gradient(230deg, blue, red);
    scroll-behavior: smooth;
  }
  .title {
    text-decoration:none;
    color: rgb(231, 238, 232);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-family:cursive ;
   


    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }

    

  }
  .title:hover{
    color: aqua;
    /* margin: 10px 10px;
    padding: 10px 10px; */
    
  }
  